# Python venv
.venv/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Figures (если не хочешь хранить картинки в git; если хочешь — закомментируй)
figures/

# Temporary / binary
*.p
*.pkl